<div class="mat-body">
    <mat-toolbar class="nav" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlexAlign="center">Phone Shop</div>
        <div class="user-info" fxLayout="row" *ngIf="isBrowser; else ghostDisplay">
            <div class="user-icon icon-loaded"></div>
            <div fxLayout="column">
                Hi, {{currentUser ? currentUser.name : 'Guest'}}!
                <button (click)="toggleLogIn()">{{currentUser ? 'Logout': 'Login'}}</button>
            </div>
        </div>
        <ng-template #ghostDisplay>
            <div class="ghost-display" fxLayout="column" fxLayoutAlign="space-around">
                <div class="animated-background"></div>
                <div class="animated-background"></div>
            </div>
        </ng-template>
    </mat-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
