<div class="mat-body">
    <mat-toolbar class="nav" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlexAlign="center">Phone Shop</div>
        <div class="user-info" fxLayout="row" fxFlexAlign="center" >
            <div class="user-icon icon-loaded"></div>
            <div fxLayout="column">
                Hi, {{isBrowser ? currentUser.name : 'Guest'}}!
                <button (click)="toggleLogIn()">{{isBrowser ? 'Logout': 'Login'}}</button>
            </div>
        </div>
        <ng-template #ghostDisplay>
            <div class="ghost-display" [@fadeIn]>
                <div class="animated-background" fxLayout="column">
                    <div class="background-mask mask-top"></div>
                    <div class="background-mask mask-gap"></div>
                    <div class="background-mask mask-bottom"></div>
                </div>
            </div>
        </ng-template>
    </mat-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
